
<h1 class="jumbotron">Add a New Store:</h1>

<form action="/stores" method="post">
  <div class="form-group">
    <label for="new_store">Store Name:</label>
    <input type="new_store" name="new_store">
  </div>
  <button class="btn" type="submit">Add Store</button>
</form>
